<div class="col-3" id="user-1">
  <div class="shadow-sm card text-center content-theme">
    <div class="my-2">
      <% avatar_generate_url = "https://ui-avatars.com/api/?name=" + user.first_name + "+" + user.last_name %>
      <%= image_tag( user.avatar.file.nil? ? avatar_generate_url : user.avatar.url, size: "150x150", class: "rounded-circle") %>
    </div>
    <div class="my-2">
      <%= user.first_name + " " + user.last_name %>
    </div>
    <div class="d-flex justify-content-around my-2">
      <h5><%= photos_count %><br><small>PHOTOS</small></h5>
      <h5><%= albums_count %><br><small>ALBUMS</small></h5>
    </div>
    <div class="my-2">
      <% if !is_following %>
        <%= button_tag 'Follow', class: "btn border-orange rounded-pill fw-bold", id: "follow-btn", data: {user_id: user.id, following_action: 'follow'}, disabled: !user_signed_in?   %>
      <% else %>
        <%= button_tag 'Unfollow', class: "btn border-orange rounded-pill fw-bold active", id: "follow-btn", data: {user_id: user.id, following_action: 'unfollow' }, disabled: !user_signed_in? %>
      <% end %>
    </div>
  </div>
</div>